@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --page-background: #0d2436;
  --font-color: #ffffff;
  --hover-font-color: #cccccc;
  --theme-primary: #009b86;
  --theme-primary-hover: #34ac9c;
  --theme-secondary: #5863f8;
  --theme-secondary-hover: #333a96;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--font-color);
  background-color: var(--page-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
